
{% extends 'app/base.html' %}

{% load static %}

{% block title %}
天天生鲜-用户中心
{% endblock %}

{% block extCSS %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/reset.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'app/css/main.css' %}">
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="search_bar clearfix">
		<a href="{% url 'app:index' %}" class="logo fl"><img src="{% static 'app/images/logo.png' %}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'app:user_center_info' %}">用户中心</a></div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'app:user_center_info' %}">· 个人信息</a></li>
				<li><a href="{% url 'app:user_center_order' %}">· 全部订单</a></li>
				<li><a href="{% url 'app:user_center_site' %}" class="active">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
                {% if receivers %}
				<div class="site_con">
					<dl>
						<dt>曾用地址：</dt>

                        <select name="receiver" id="receiver" style="width: 200px; height: 50px;">
                        {% for receiver in receivers %}
                            <option value="{{ receiver.id }}" style="font-size: 25px;">
                                <dd>{{ receiver.address  }}&nbsp;&nbsp;({{ receiver.name }}&nbsp;收)&nbsp;&nbsp;{{ receiver.tel }}</dd>
                            </option>
                        {% endfor %}
                            </select>
					</dl>
				</div>
                {% else %}
				    <div>无曾用联系人</div>
                {% endif %}
                <div>
                    <dl>
                        <input type="button" class="info_submit" value="新增地址" style="float: right; margin-right: 50px;" onclick="show_edit_area()"></input>
                    </dl>
                    <dl>
                        <input type="button" class="info_submit" value="使用选中地址" style="float: right; margin-right: 100px" onclick="submit_receiver()"></input>
                    </dl>
                </div>
            <h3 class="common_title2" style="display: none;">编辑地址</h3>
            <div class="site_con" style="display: none;">
                <form>
                    {% csrf_token %}
                    <div class="form_group">
                        <label>收件人：</label>
                        <input type="text" name="receiver">
                    </div>
                    <div class="form_group form_group2">
                        <label>详细地址：</label>
                        <textarea class="site_area"></textarea>
                    </div>
                    <div class="form_group">
                        <label>邮编：</label>
                        <input type="text" name="email_num">
                    </div>
                    <div class="form_group">
                        <label>手机：</label>
                        <input type="text" name="phone_num">
                    </div>

                    <input type="button" name="" value="提交" class="info_submit" id="new_adress_submit" onclick="new_adress()">
                </form>
            </div>
		</div>
	</div>
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}

{% block extJS %}
    <script type="text/javascript" src="{% static 'app/js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/js/user_center_site.js' %}"></script>
{% endblock %}